h1{
  font-weight: 700;
  font-size: 45px;
  margin: 50px;
  font-style: italic;

}

input{
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.todo-contaier{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.item-container{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
}

.kg-row{
  margin: 10px 5px;
}